# License Key
sv_licenseKey setme
set steam_webApiKey "setme"

set sv_environment dev # dev/prod/test
set sv_access_role 0

setr log_level 1

# Comment for Listing
sv_master1 ""
# Player Slots
sv_maxclients 8

# Set your server's hostname.
sv_hostname "Mythic RP - Development"
# Set your server's Project Name
sets sv_projectName "Mythic RP - Development"
# Set your server's Project Description
sets sv_projectDesc "Mythic RP"
# Server Tags
sets tags "rp"

set mysql_connection_string "mysql://root@localhost/mythicrp?charset=utf8mb4"
set mysql_slow_query_warning 300
#set mysql_debug true
set mysql_ui true

# Logs
set discord_admin_webhook ""
set discord_connection_webhook ""
set discord_log_webhook ""
set discord_kill_webhook ""
set discord_pwnzor_webhook ""
set discord_error_webhook ""

# MongoDB Connections
set mongodb_auth_url "mongodb://localhost:27017/?readPreference=primary&appname=MongoDB%20Compass&ssl=false"
set mongodb_auth_database "auth"
set mongodb_game_url "mongodb://localhost:27017/?readPreference=primary&appname=MongoDB%20Compass&ssl=false"
set mongodb_game_database "fivem"

set api_address "https://mythicrp.com/api/mythic/"
set api_token "setme"

sets motd "Welcome to Mythic Framework!"