ensure mapmanager
#ensure webpack
ensure yarn
ensure rconlog
ensure spawnmanager
#ensure chat
ensure fivem-map-hipster

# Base Stuff
ensure mythic-loadscreen
ensure mythic-base
ensure mythic-queue
ensure mythic-pwnzor
ensure mythic-objects

ensure oxmysql

ensure mythic-chat
ensure mythic-commands
ensure mythic-characters
ensure mythic-ped
ensure mythic-keybinds
ensure mythic-admin
ensure mythic-ipl
ensure mythic-polyzone
ensure mythic-laptop
ensure mythic-lasers
ensure mythic-hud
ensure mythic-games
ensure mythic-blips
ensure mythic-sounds
ensure mythic-locations
ensure mythic-menu
ensure mythic-sync
ensure mythic-scenes

# Misc
ensure mythic-status
ensure mythic-damage
ensure mythic-escort
ensure mythic-animations
ensure mythic-visuals
ensure mythic-inventory
ensure mythic-weapons
ensure mythic-businesses
ensure mythic-vacation

# Interaction
ensure mythic-targeting
ensure mythic-pedinteraction

# Property
ensure mythic-apartments
ensure mythic-properties

ensure mythic-finance
ensure mythic-doors

# Crime
ensure mythic-weed
ensure mythic-drugs
ensure mythic-robbery
ensure mythic-jail
ensure mythic-evidence

# Vehicle
ensure mythic-vehicles
ensure mythic-dealerships
ensure mythic-customs
ensure mythic-fuel
ensure mythic-tow
ensure mythic-fitment

# Jobs
ensure mythic-jobs
ensure mythic-labor
ensure mythic-mechanic
ensure mythic-police
ensure mythic-cctv
ensure mythic-mdt
ensure mythic-radar
ensure mythic-restaurant
ensure mythic-taxi

# Voice
ensure mythic-voip
ensure mythic-radio
ensure mythic-phone

# Misc
ensure mythic-billboards
ensure mythic-casino

# Maps
ensure [mythic-assets]

ensure screenshot-basic

set chat_showQuits 0
set chat_showJoins 0